@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  body {
    font-family:'Poppins', sans-serif;
      margin: 0;
      padding: 20px;
      text-transform: uppercase;
      background-color:rgb(156, 222, 244);
  }

h1, h2 {
    color:black;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

li {
    background-color: #ffffff6d;
    padding: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 200px; 
}

li a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    display: block;
    height: 100%;
    text-align: center;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(34, 52, 155, 0.2);
}
