#ball {
    aspect-ratio:1/1;
    border-radius: 50%;
    background-color: orange;
    width:8rem;
}

.ani {
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-name: ani;
    animation-timing-function: linear;
    animation-duration: 1s;
}

@keyframes ani {
    from {background-color:Red;
    transform: scale(1);
}

to {
    background-color: red;
    transform: scale(1.2);
}
}