:root {
    --header-bg-col-hawaii: #FF7E50;
    --header-bg-col-dark: #121212; 
    --header-bg-col-light: #FFFFFF; 
    --text-color-hawaii: #FFFFFF; 
    --text-color-dark: #f7f7f7; 
    --text-color-light: #000000;

}
.main-content {
    margin: auto;
    text-align: center; 
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

body[data-theme="hawaii"] {
    --header-bg-col: var(--header-bg-col-hawaii);
    --text-color: var(--text-color-hawaii);
    background-color: #FFE4B5;
}
body[data-theme="hawaii"] h1,
body[data-theme="hawaii"] p {
    color:var(--header-bg-col-hawaii)
}

body[data-theme="dark"] {
    --header-bg-col: var(--header-bg-col-dark);
    --text-color: var(--text-color-dark);

    background-color: #181818; 
}
body[data-theme="dark"] h1,
body[data-theme="dark"] p {
    color:var(--text-color-dark);
}

body[data-theme="light"] {
    --header-bg-col: var(--header-bg-col-light);
    --text-color: var(--text-color-light);
    background-color: #FFFFFF;
}

header {
    background-color: var(--header-bg-col);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    border-radius: var(--border-radius);
    transition: all 0.3s ease;
}

main {
    padding: 20px;
    border-radius: var(--border-radius);
    margin: 20px 0;
    transition: background-color 0.3s ease;
}

footer {
    color: #131313;
    text-align: center;
    padding: 10px;
    border-radius: var(--border-radius);
}
select {
    padding: 5px 10px;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    background-color: var(--header-bg-col);
    color: var(--text-color);
    transition: all 0.3s ease;
}
select:focus {
    outline: none;
    border-color: #007BFF;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  body {
    font-family:'Poppins', sans-serif;
      margin: 0;
      padding: 20px;
      text-transform: uppercase;
      background-color: lightgray;
  }
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; 
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}