body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  justify-content: flex-end;
}

header,
footer {
  color: rgb(6, 6, 6);
  padding: 20px;
  width: 100%;
  text-align: center;
  
}
header {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px;
}
footer {
  font-size: 1em;
}

.content-section {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#language-selector {
    padding: 10px 10px;
    margin:30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}